<?xml version='1.0' encoding='utf-8'?>
<widget id="mx.com.espacio360.beacon"
	version="0.2.0"
	xmlns="http://www.w3.org/ns/widgets"
	xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BeaconFinder</name>
    <description>
        Estimote Beacon demo app.
    </description>
    <author email="mikael.kindborg@evothings.com" href="http://evothings.com">
        Mikael Kindborg
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
	<plugin name="com.unarin.cordova.beacon" source="pgb" spec="3.2.1" />
	<plugin name="de.appplant.cordova.plugin.local-notification-ios9-fix" source="pgb" spec="0.8.2" />
	<plugin name="ptdev.makingwaves2.estimotes" source="pgb" spec="1.0.1" />
</widget>
